.header {
	text-align: center;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 15px;
	background: linear-gradient(to bottom, white, rgb(196, 248, 153));
	
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}



input[type="text"],
select {
	width: 300px;
	height: 25px;
	padding: 5px;
	margin-bottom: 10px;
}

input[type=number],
select {
	width: 300px;
	height: 25px;
	padding: 5px;
	margin-bottom: 10px;
}

button[type="submit"] {
	width: 80px;
	height: 30px;
	background-color: #669763;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', Courier, monospace;
	min-height: 100vh;
	color: rgb(54, 47, 47);
}

table {
	width: 750px;
	margin: 40px auto;
}

table th {
	padding: 10px 0;
	background-color: #c2e6a6;
	/* background-color: #fff; */
	border: thin solid #354033;
}

table td {
	padding: 10px;
	border: thin solid #141a1b;
	width: 20%;
	text-align: center;
	background-color: rgb(238, 244, 240);
}

table td.total-price {
	font-weight: bold;
	font-size: 22px;
}

table a {
	text-decoration: none;
	color: rgb(158, 223, 176);
	background-color: #d4f8d0;
	padding: 10px 15px;
}

table a:active {
	background-color: #ccf4d6;
	color: rgb(181, 244, 181);
}

table select {
	padding: 10px;
	width: 200px;
	font-size: 16px;
	border: thin solid #e2f2e0;
	background-color: transparent;
}

table select:focus {
	outline: none;
}

table img {
	width: 90%;
}